<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<style type="text/css">
		body, html,#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
	</style>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=IAUq80Hffo1chkH8WcdD4T1pvc8g1opc"></script>
	<title>地址解析</title>
</head>
<body>
	<div id="allmap"></div>
</body>
</html>
<script type="text/javascript">
	var addresses = [
		['100005713','恒通商务园','恒通商务园3层301 ','北京','2018年2月9日','4','0','是','','','','','','','城市','点位','柜子'],
		['100014754','北京招彩旺旺信息技术有限公司7层701','北京市朝阳区广顺南大街8号院利星行中心A座B区7层利星行中心7层701','北京','2018年2月6日','1','0','','','','','','','','北京','96','127'],
		['100652745','北京实创家居装饰有限公司7层701（RFID）','北京市西城区北广大厦701','北京','2018年1月9日','1','0','','','','','','','','保定','58','60'],
		['100036707','丰台区西三环南路1号北京市政务服务中心2','北京市丰台区西三环南路1号','北京','2018年1月24日','1','0','','','','','','','','汇总','154','187'],
		['100036706','丰台区西三环南路1号北京市政务服务中心1','北京市丰台区西三环南路1号','北京','2018年1月24日','1','0','','','','','','','','','',''],
		['100648703','北京斗米优聘科技发展有限公司','北京市海淀区软件园南路八维学院6号科技楼','北京','2018年2月5日','1','0','','','','','','','','','',''],
		['100017704','北京品途数信科技有限公司','朝阳区酒仙桥路14号兆维工业园c3楼2层','北京','2018年2月6日','3','0','','','','','','','','原点位','点位','柜子'],
		['100078717','中国移动在线服务有限公司北京分公司','亦庄开发区西环南路26号院整栋楼层整栋楼室','北京','2018年2月5日','2','0','','','','','','','','北京','',''],
		['100015711','北京道原广告有限公司9层','北京市朝阳区朝外大街甲6号万通中心D座9层万通中心D座9层','北京','2018年2月8日','1','0','','','','','','','','保定','',''],
		['100335715','氪空间（北京）信息技术有限公司酒仙桥','北京市朝阳区酒仙桥52号院1号楼B座3F','北京','2018年2月6日','2','0','','','','','','','','','',''],
		['100014789','北京市京都律师事务所22层22层','景华南街5号远洋光华国际C座22层远洋光华国际c座22层22层','北京','2018年2月5日','2','0','','','','','','','','','',''],
		['100015727','易到用车（北京）有限公司','北京市朝阳区电子城IT产业园201号楼F座4层','北京','2018年2月6日','2','0','','','','','','','','','',''],
		['100062743','北京云畅游戏科技科技股份有限公司','朝阳区酒仙桥路52号院东方科技园3号楼4层','北京','2018年2月8日','2','0','','','','','','','','','',''],
		['100008796','三峡资本控股有限责任公司','北京市海淀区彩和坊路6号朔黄发展大厦9层整层朔黄发展大厦10层101','北京','2018年2月5日','1','0','','','','','','','','','',''],
		['100018794','北京雷力海洋生物新产业集团1层101','北京市海淀区四季青镇北辛庄路北软双新科创园D座101北软双新科创园1层101','北京','2018年2月5日','1','0','','','','','','','','','',''],
		['100018747','北京财到信息技术有限公司7层703','北京市海淀区上地金隅嘉华大厦D座7层701-703金隅嘉华大厦D座7层703','北京','2018年2月7日','2','0','','','','','','','','','',''],
		['100013749','北京奇立软件技术有限公司8层1','北京市朝阳区大羊坊路新华国际广场D座801新华国际广场8层1','北京','2018年2月6日','1','0','','','','','','','','','',''],
		['100082788','北京云基地企业管理有限公司','北京市大兴区经济技术开发区地盛北街1号院18号楼云基地','北京','2018年2月7日','2','0','','','','','','','','','',''],
		['102000771','中卓国际建筑设计有限公司','保定市竞秀区风能街209号中卓产业园401 ','保定','2018年1月31日','1','0','','','','','','','','','',''],
		['100023746','北京亚美运通国际旅行社有限责任公司3层','北京朝阳区新源里16号琨莎中心1座3层301琨莎中心1座3层','北京','2018年2月9日','2','0','','','','','','','','','',''],
		['102001741','北京小米科技有限责任公司保定分公司','保定市莲池区七一路水晶国际19层 ','保定','2018年2月5日','2','0','','','','','','','','','',''],
		['100027732','北京嗨学卓奥教育科技有限公司','北京市朝阳区北苑路28号潮驿178D门4层','北京','2018年2月6日','2','0','','','','','','','','','',''],
		['100651707','北京创盈未来科技投资管理有限公司','北京市海淀区北三环中路乙40号国美电器三层','北京','2018年2月8日','1','0','','','','','','','','','',''],
		['100020702','北京祥龙博瑞汽车（服务）集团有限公司博瑞陆鼎汽车商行 ','北京市朝阳区关东店8号大众4S店','北京','2018年2月8日','1','0','','','','','','','','','',''],
		['100426759','氪空间（北京）信息技术有限公司','北京市朝阳区八里庄西里100号住邦2000-2号楼东配楼6层','北京','2018年2月5日','1','0','','','','','','','','','',''],
		['100014723','北京派合文化传播股份有限公司3层301','北京市朝阳区高碑店建国路东亿大厦A座东亿大厦A座3层301','北京','2018年2月7日','2','0','','','','','','','','','',''],
		['102002738','保定市力兴电子设备有限公司','保定市竞秀区竞秀街658号博翰商务B座3单元3层','保定','2018年1月31日','1','0','','','','','','','','','',''],
		['100002781','中国和平国际旅游有限公司','北京市朝阳区东土城13号金孔雀商务大厦9层','北京','2018年2月8日','1','0','','','','','','','','','',''],
		['100027741','北京晨光同创医药研究院有限公司','北京市丰台科技园区星火路10号建科兴达大厦A座3层 ','北京','2018年2月6日','1','0','','','','','','','','','',''],
		['102003714','保定民启金融服务外包有限公司','保定市莲池区建华南大街1380号,世家郦园-1-1380','保定','2018年1月30日','1','0','','','','','','','','','',''],
		['102002731','河北省匡合律师事务所有限公司','保定市竞秀区风能路120号昕秀产业园4层6号楼C座整栋楼','保定','2018年1月30日','1','0','','','','','','','','','',''],
		['100021768','北京清网华科技股份有限公司','北京市海淀区学院路29号盛地写字楼B座三层315','北京','2018年2月6日','1','0','','','','','','','','','',''],
		['100005770','北京晋商睦家资产管理有限责任公司23层2308','北京市朝阳区大屯街道北苑路大屯地铁A口直走400米金泉广场对面','北京','2018年2月6日','1','0','','','','','','','','','',''],
		['102003710','保定信诚人寿分公司','保定市竞秀区天威西路鸿悦国际7层720 ','保定','2018年1月30日','1','0','','','','','','','','','',''],
		['100782750','易安财产保险股份有限公司（RFID）','北京市海淀区黑泉路12号宝盛广场D座505','北京','2018年1月12日','2','0','','','','','','','','','',''],
		['102004704','保定市松龄堂连锁销售有限公司','保定市莲池区开发路1号西百楼工业园区4层401 ','保定','2018年2月6日','1','0','','','','','','','','','',''],
		['100017795','北京精英远洋科技发展有限公司12层1205','北京市朝阳区富力双子座a座1205富力双子座A座12层1205','北京','2018年2月6日','1','0','','','','','','','','','',''],
		['100017721','北京江云虹欣科技股份有限公司1层101','北京市朝阳区西店村15号楼08号101室北京江云虹欣科技股份有限公司1层101','北京','2018年2月6日','2','0','','','','','','','','','',''],
		['102002793','保定金芷轩文化旅游开发有限公司','保定市竞秀区天鹅西路338号科技示范楼6层','保定','2018年1月30日','1','0','','','','','','','','','',''],
		['102003758','保定市交通运输局出租汽车管理处有限公司','保定市东风中路1155号','保定','2018年1月30日','1','0','','','','','','','','','',''],
		['102004701','保定宜信普惠信息咨询有限公司','保定市莲池区七一中路水晶国际商务楼A座15-1506 ','保定','2018年2月6日','1','0','','','','','','','','','',''],
		['100056780','北京精博现代假肢矫形器技术有限公司','经海五路1号院2号楼','北京','2018年2月7日','2','0','','','','','','','','','',''],
		['100021747','北京金万维科技有限公司','北京市丰台区南四环西路186号汉威国际广场四区3号楼7层','北京','2018年2月5日','1','0','','','','','','','','','',''],
		['100391729','氪空间（北京）信息技术有限公司','北京市海淀区中关村创业大街2号楼3层301','北京','2018年2月8日','1','0','','','','','','','','','',''],
		['100017752','北京精琢科技有限公司24层24E','海淀区上地信息路二号国际科技创业园1号24层24E','北京','2018年2月9日','1','0','','','','','','','','','',''],
		['100178798','北京雅悦酒店管理有限公司西直门店','北京市北京市西城区西直门内大街157号雅悦酒店北京西直门店1层101室','北京','2018年2月7日','2','0','','','','','','','','','',''],
		['100022708','世纪群飞商贸有限责任公司','北京市丰台区南三环外环万柳桥西150米路南世纪群飞商贸有限责任公司','北京','2018年2月7日','2','0','','','','','','','','','',''],
		['100015716','司空科技股份有限公司15层1501','朝阳区来广营西路望京诚盈中心1号楼望京诚盈中心1号楼15层1501','北京','2018年2月7日','2','0','','','','','','','','','',''],
		['100011772','北京宜信普信恒业科技有限公司15层A座15整层','北京市朝阳区西大望路1号温特莱中心A座15层温特莱中心15层A座15整层','北京','2018年2月8日','2','0','','','','','','','','','',''],
		['100021781','北京车易速科贸有限公司','北京市大兴区旧宫镇吉百利路1号（红色院门内）','北京','2018年2月7日','2','0','','','','','','','','','',''],
		['102001745','保定朗信电子科技有限公司','保定市竞秀街295号创业中心A座4楼','保定','2018年1月25日','1','0','','','','','','','','','',''],
		['100075770','红果树国际资产管理（北京）有限公司','紫荆豪庭A座20c','北京','2018年2月9日','1','0','','','','','','','','','',''],
		['100008793','北京堀场汇博隆精密仪器有限公司2层1','北京市朝阳区北苑路13号领地OFFICE大厦B座303','北京','2018年2月7日','1','0','','','','','','','','','',''],
		['102002701','保定市山花制冷设备有限公司','保定市竞秀区翠园街723号B座2层209室','保定','2018年1月30日','1','0','','','','','','','','','',''],
		['100009771','北京北纬通信科技股份有限公司5层5层','北京市海淀区首体南路22号国兴大厦5层国兴大厦5层5层','北京','2018年2月9日','1','0','','','','','','','','','',''],
		['102004705','保定燕赵集团有限公司','保定市莲池区建华大街燕赵集团大楼3层301 ','保定','2018年2月6日','1','0','','','','','','','','','',''],
		['100002744','盛世国祥资本管理集团有限公司','北京市东城区珠市口东大街11号五粮液大厦二层','北京','2018年2月7日','1','0','','','','','','','','','',''],
		['102284701','保定市三滴水网络科技有限公司','保定市朝阳大街鸿悦国际11-1123 ','保定','2018年1月30日','1','0','','','','','','','','','',''],
		['102002705','冠群驰骋投资管理（北京）有限公司保定分公司','保定市竞秀区乐凯北大街3088号电谷科技中心4号楼A单元6层621室','保定','2018年2月5日','1','0','','','','','','','','','',''],
		['100004710','红苹果（北京）财务顾问有限公司','北京东城区崇文门外大街44号大康大厦501','北京','2018年2月7日','1','0','','','','','','','','','',''],
		['100014743','北京蜀韵东方装饰工程有限公司3层306','丰台区盈坤世纪F306盈坤世纪3层306','北京','2018年2月7日','2','0','','','','','','','','','',''],
		['100014776','新疆家盒子文化有限公司','安泰大街9号院6号楼3层整层室','北京','2018年2月8日','2','0','','','','','','','','','',''],
		['100676773','博睿盛伦国际咨询有限公司','北京市朝阳区广渠路11号金泰国际大厦A1010','北京','2018年2月6日','1','0','','','','','','','','','',''],
		['100015794','鲸力智享（北京）科技有限公司5层502','朝阳区工人体育场东路丙2号中国红街3号楼502室中国红街5层502','北京','2018年2月9日','1','0','','','','','','','','','',''],
		['102003700','保定市文瀚创业基地','保定市莲池区长城北大街2186号2层 ','保定','2018年1月30日','1','0','','','','','','','','','',''],
		['102835738','北京京韵伟业文化传媒中心','北二环与乐凯大街交叉口电谷科技中心b座314','保定','2018年1月30日','1','0','','','','','','','','','',''],
		['102001798','保定市中基惠通软件科技有限公司','保定市竞秀区北二环5699号大学科技园6A4层整层','保定','2018年1月30日','1','0','','','','','','','','','',''],
		['100007719','北京清创纪元创业教育科技有限责任公司3层301','中关村创业大街昊海楼3层昊海楼-办公区3层301','北京','2018年2月8日','1','0','','','','','','','','','',''],
		['102004706','保定宏协承汽车部件有限公司','保定市高新区风能街115号宏协承汽车部件有限公司1-101 ','保定','2018年2月6日','1','0','','','','','','','','','',''],
		['100017797','北京海德健信息科技有限公司','北京市海淀区马甸东路17号金澳国际写字楼','北京','2018年2月9日','1','0','','','','','','','','','',''],
		['100024702','米寿健康科技(北京)有限公司','北京市朝阳区融科望京B座12层1203室','北京','2018年2月23日','2','0','','','','','','','','','',''],
		['100005783','宜信普惠信息咨询有限公司11层1102','北京市朝阳区广顺北大街华彩大厦1102室华彩大厦11层1102','北京','2018年2月9日','1','0','','','','','','','','','',''],
		['102001725','保定市恒信达电气有限公司','保定市北二环大学科技园3号楼502','保定','2018年1月31日','1','0','','','','','','','','','',''],
		['100018731','北京博赛时代网络科技有限公司','北京市海淀区创业中路36号留学人员海淀创业园36号楼307室','北京','2018年2月9日','1','0','','','','','','','','','',''],
		['102001780','保定嘉晨电子科技有限公司','保定市竞秀区复兴西路直隶大厦912','保定','2018年1月31日','1','0','','','','','','','','','',''],
		['102003704','保定市奇豆商贸有限公司','保定市竞秀区乐凯北大街,电谷科技中心-3A座306房间','保定','2018年1月26日','1','0','','','','','','','','','',''],
		['100008786','北京智搜科技有限公司15层15-2-102','北京市海淀区杏石路西杉创意园5区15-2-102西杉创意园15层15-2-102','北京','2018年2月5日','1','0','','','','','','','','','',''],
		['102658773','保定市笨鸟邦会计服务有限公司','保定市 中诚鸿悦国际 十五层','保定','2018年1月30日','1','0','','','','','','','','','',''],
		['102003767','河北宏远计算机培训学校有限公司','保定市莲池区裕华西路康泰大厦康泰大厦-5-503 ','保定','2018年1月31日','1','0','','','','','','','','','',''],
		['102002786','保定塞纳春天装饰工程有限公司',' 保定市莲池区七一东路与凤栖街交叉口未来像素写字楼6楼605','保定','2018年1月30日','1','0','','','','','','','','','',''],
		['102980778','保定天鑫矿业地质勘查有限公司','保定市高开区隆兴路111号 701-709','保定','2018年2月5日','1','0','','','','','','','','','',''],
		['102003782','保定市天益兴电热设备科技有限公司','保定市莲池区腾飞路129号保定市天益兴电热设备有限公司1层','保定','2018年2月6日','1','0','','','','','','','','','',''],
		['100023768','飞天诚信科技股份有限公司17层','北京市海淀区学清路9号汇智大厦17层汇智大厦17层','北京','2018年2月9日','2','0','','','','','','','','','',''],
		['102002757','保定市同立制衣贸易有限公司','保定市莲池区天宁路199号同力制衣办公楼1层 ','保定','2018年1月30日','1','0','','','','','','','','','',''],
		['100009796','北京闪惠信息技术有限公司20层2006','昌平区立汤路188号北方明珠大厦20层2006室北方明珠大厦-1号楼20层2006','北京','2018年2月8日','1','0','','','','','','','','','',''],
		['100016798','北京闲徕互娱网络科技有限公司2层','北京市朝阳区大屯街道安立路8号汇中广场2层','北京','2018年2月5日','1','0','','','','','','','','','',''],
		['102004700','保定市悦众餐饮服务有限公司','保定市七一路未来石1号楼19-1906室 ','保定','2018年2月7日','1','0','','','','','','','','','',''],
		['100021763','财达汇通(北京）投资管理有限','昌平区东三旗亚运村汽车交易市场南1层层8号室~易鑫车贷','北京','2018年2月8日','1','0','','','','','','','','','',''],
		['100012756','网娱互动科技（北京）股份有限公司1层1001','北京市海淀区黑泉路宝盛广场D座宝盛大厦D座1层1001','北京','2018年2月9日','1','0','','','','','','','','','',''],
		['102002739','保定市凯宁电器有限责任公司','保定市竞秀区竞秀街658号博翰商务B座5单元5楼整层','保定','2018年1月25日','1','0','','','','','','','','','',''],
		['102002730','知了生物科技有限公司','保定市莲池区东三环七一路交叉口西北角未来石15-1519','保定','2018年1月31日','1','0','','','','','','','','','',''],
		['100024705','北京花韵在线科技有限公司8层','北京市海淀区知春路6号，锦秋国际A座锦秋国际8层','北京','2018年2月9日','1','0','','','','','','','','','',''],
		['100010796','浙江亿咖通科技有限公司1层104','北京市海淀区东北旺西路8号院4号楼C座104东北旺西路8号院1层104','北京','2018年2月8日','1','0','','','','','','','','','',''],
		['100027739','北京咘口袋商务中心办公管理有限公司','北京市朝阳区建国路88号SOHO现代城D座31层3111','北京','2018年2月6日','1','0','','','','','','','','','',''],
		['100056752','北京天骄凯旋酒店管理有限公司','北苑路170号院3号楼','北京','2018年2月7日','1','0','','','','','','','','','',''],
		['102003794','保定微海科技有限公司','河北省保定市莲池区北二环999号鑫丰国际2单元601-602 ','保定','2018年2月1日','1','0','','','','','','','','','',''],
		['102003722','保定腾航汽贸服务有限公司','保定市竞秀区朝阳南大街1号茂业中心1706室','保定','2018年1月31日','1','0','','','','','','','','','',''],
		['102002700','保定市云舟财务咨询有限公司','保定市莲池区裕华西路裕华金街A座4-451 ','保定','2018年2月2日','1','0','','','','','','','','','',''],
		['102459777','北京醇油坊食品有限公司','河北省保定市莲池区瑞兴路钻石嘉园二区8好留7层702 ','保定','2018年1月31日','1','0','','','','','','','','','',''],
		['102002726','保定市林海企业管理咨询有限公司','保定市永华南大街天元商城西门439-77 ','保定','2018年1月31日','1','0','','','','','','','','','',''],
		['100018725','北京一石科技有限责任公司12层1201','海淀区知春路7号致真大厦A座1201致真大厦AB座12层1201','北京','2018年2月9日','1','0','','','','','','','','','',''],
		['102238784','汇中盛世信息咨询服务北京有限责任保定分公司','保定市莲池区裕华路555号华创广场14楼1413 ','保定','2018年2月7日','1','0','','','','','','','','','',''],
		['102002737','保定市伏安电力科技开发有限公司','保定市竞秀区乐凯北大街2999号电谷科技中心D座','保定','2018年2月7日','1','0','','','','','','','','','',''],
		['100026742','北京学之光教育有限公司','大钟寺中坤广场-e座7层702室','北京','2018年2月9日','1','0','','','','','','','','','',''],
		['102002785','河北容大园林设计有限公司','河北省保定市莲池区三丰中路888号富源商务中心506室','保定','2018年1月31日','1','0','','','','','','','','','',''],
		['102001784','保定大众永信保险代理有限责任公司','保定市莲池区七一路未来石4栋1701-1707 ','保定','2018年2月1日','1','0','','','','','','','','','',''],
		['100019760','重庆聚土网科技发展有限公司','建国门南大街7号D座808','保定','2018年1月31日','1','0','','','','','','','','','',''],
		['102000788','河北神航汽车贸易有限公司','保定市裕华西路华创国际广场1122室 ','保定','2018年2月5日','1','0','','','','','','','','','',''],
		['102000790','北京众达德权知识产权代理公司保定分公司','保定市竞秀区朝阳南大街国贸大厦18-1806室 ','保定','2018年1月30日','1','0','','','','','','','','','',''],
		['102001706','华宏车贷','保定市竞秀区复兴西路康泰国际14层3区1404 ','保定','2018年2月2日','1','0','','','','','','','','','',''],
		['102001740','北京九一同桌教育咨询有限公司','保定市莲池区七一东路未来像素1号楼','保定','2018年1月31日','1','0','','','','','','','','','',''],
		['102001757','河北聚焦网络科技有限公司','保定市竞秀区朝阳北大街百世开利大厦10J','保定','2018年2月2日','1','0','','','','','','','','','',''],
		['102002732','河北龙江投资咨询有限公司','保定市莲池区裕华西路华创国际广场1603','保定','2018年2月5日','1','0','','','','','','','','','',''],
		['102002758','北京志诚科技有限公司','保定市竞秀区天鹅西路世纪大厦D座2单元702室 ','保定','2018年2月6日','1','0','','','','','','','','','',''],
		['102002770','保定市吉烨电气科技有限公司','保定市莲池区北三环桥西工业园区燕赵电力-1-1','保定','2018年2月5日','1','0','','','','','','','','','',''],
		['102002772','河北沐野企业管理有限公司','保定市朝阳北大街 电谷中央时区C座6-626 ','保定','2018年2月2日','1','0','','','','','','','','','',''],
		['102002799','河北康宇保险代理有限公司','保定市竞秀区乐凯北大街电谷科技中心-3A座322','保定','2018年1月30日','1','0','','','','','','','','','',''],
		['102003733','河北恒基建设招标有限公司','保定市竞秀区隆兴西路隆兴商务中心B座16层整层 ','保定','2018年2月6日','1','0','','','','','','','','','',''],
		['102003769','河北省通达泵阀科技有限公司','河北省保定市莲池区科苑街267号河北通达泵阀有限公司1楼','保定','2018年2月7日','1','0','','','','','','','','','',''],
		['102003796','上海一起作业信息科技有限公司','保定市莲池区七一路与凤栖路交叉口未来像素大厦1号楼19-1906 ','保定','2018年2月2日','2','0','','','','','','','','','',''],
		['102404780','保定市智恒电子科技有限公司','保定未来石3栋','保定','2018年2月6日','1','0','','','','','','','','','',''],
		['102491781','保定华电天德科技园有限公司','保定华电天德科技园有限公司','保定','2018年1月31日','1','0','','','','','','','','','',''],
		['102570753','保定市启圣体育文化传媒有限公司','电厂第二生活区物业楼','保定','2018年2月8日','1','0','','','','','','','','','',''],
		['100017731','天津顶津食品有限公司（北京）分公司7层706','北京市海淀区长远天地大厦A1座长远天地大厦7层706','北京','2018年1月9日','1','0','','','','','','','','','',''],
		['100027736','大全集团有限公司',' 北京市东城区东四十条甲22号南新仓商务大厦B座10-1023','北京','2018年2月6日','1','0','','','','','','','','','',''],
		['100027737','北京天朔新能源汽车销售有限公司','北京市朝阳区十里河蓝峰大厦15层1506室 ','北京','2018年2月6日','1','0','','','','','','','','','',''],
		['100027738','平安融诚北京企业管理有限公司','朝阳区东大桥尚都国际2层209','北京','2018年2月6日','1','0','','','','','','','','','',''],
		['100027743','北京祟盛国际贸易有限公司','北京市丰台区南三环西路16号搜宝商务中心2号楼2601室 ','北京','2018年2月8日','1','0','','','','','','','','','',''],
		['100027744','北京新娱兄弟网络科技有限公司','北京市朝阳区望京西路甲50-1卷石天地大厦A座9层','北京','2018年2月8日','2','0','','','','','','','','','',''],
		['100027745','北京上元影业文化传媒有限公司','北京市朝阳区朝阳门外大街乙6号朝外sohoA座2807 ','北京','2018年2月8日','1','0','','','','','','','','','',''],
		['100027746','北京臻御网络科技有限公司','北京市朝阳区京通大厦B2区207室','北京','2018年2月9日','1','0','','','','','','','','','',''],
		['100027750','北京佈口袋商务中心办公管理有限公司','北京市朝阳区建国路88号现代城3号楼12层1204室','北京','2018年2月23日','1','0','','','','','','','','','',''],
		['100027752','华夏银行信用卡中心北京营销中心','北京市西城区月坛北街26号恒华国际商务中心A座721','北京','2018年2月23日','2','0','','','','','','','','','',''],
		['100027757','北京咘口袋商务中心办公管理有限公司(现代城分公司)','北京市朝阳区建国路88号SOHO现代城A座8层812室','北京','2018年2月23日','1','0','','','','','','','','','',''],
		['100027759','北京华星远大文化传媒有限公司','北京市朝阳区百子湾路32号今日美术馆2号馆-101','北京','2018年2月23日','1','0','','','','','','','','','',''],
		['100027760','多信慧网(北京)科技有限公司','北京市朝阳区北苑路13号领地OFFICE1号楼B座1302','北京','2018年2月23日','1','0','','','','','','','','','',''],
		['100290754','北京阿博茨科技有限公司','北京市海淀区学清路768创意园a座5号门二层','北京','2018年2月23日','2','0','','','','','','','','','',''],
		['102002778','保定市新大长远食品销售有限公司','保定市竞秀区天鹅中路79号兴远现代城1层105 ','保定','2018年1月26日','1','','','','','','','','','','',''],
		['0','小叶子（北京）科技有限公司','北京市朝阳区来广营诚盈中心5号楼11层1101','北京','2018年2月6日','2','','','','','','','','','','',''],
		['100027766','播思通讯技术（北京）有限公司 ','北京朝阳区酒仙桥路10号恒通商务园B23楼A座','北京','2018年2月24日','1','','','','','','','','','','',''],
		['100027761','北京（天津）渤海通汇货币兑换科技有限公司','酒仙桥4号大山子宏源大厦802','北京','2018年2月24日','1','','','','','','','','','','',''],
		['100027764','北京好奇心科技有限公司','北京市西城区北三环中路甲29号华龙大厦A座9层905','北京','2018年2月24日','1','','','','','','','','','','',''],
		['100027769','鼎轩文化（北京）传媒有限公司','北京市东城区东直门外大街46号天恒大厦8层807','北京','2018年2月24日','1','','','','','','','','','','',''],
		['100015766','和信财富管理有限公司8层B811','朝阳区朝外大街朝阳门外大街18号丰联广场大厦B座811丰联广场大厦8层B811','北京','2018年2月24日','1','','','','','','','','','','',''],
		['100014719','北京太初国际广告传媒有限公司11层11','北京市朝阳区百子湾路32号苹果社区北区3号楼A座11层1111室苹果社区北区11层11','北京','2018年2月24日','1','','','','','','','','','','',''],
		['100018735','华邑聚同国际品牌管理顾问（北京）有限公司3层301','北京市朝阳区亮马桥东方国际大厦三层301东方国际大厦3层301','北京','2018年2月24日','1','','','','','','','','','','',''],
		['100027767','北京屏方网络科技有限公司','北京市朝阳区建外soho 10号楼1902','北京','2018年2月24日','1','','','','','','','','','','',''],
		['100027755','北京金色摇篮教育科技有限公司','北京市朝阳区北苑路13号院1号楼A单元1601 ','北京','2018年2月24日','1','','','','','','','','','','',''],
		['100008713','北京鸿诚祥兆投资担保有限公司第七分公司1层1','北京市丰台区马家堡东路怡然家园6号院3号楼底商107鸿诚祥兆怡然家园1层1','北京','2018年2月24日','1','','','','','','','','','','',''],
		['100012729','北京中关村融汇金融信息服务有限公司28层','北京市海淀区启迪科技大厦D座启迪科技大厦D座28层','北京','2018年2月24日','1','','','','','','','','','','',''],
		['100012730','北京中关村融汇金融信息服务有限公司27层','北京市海淀区启迪科技大厦D座启迪科技大厦D座27层','北京','2018年2月24日','1','','','','','','','','','','',''],
		['100027754','财行家(北京)商务顾问有限公司','朝阳区东三环中路20号乐成中心A座22层','北京','2018年2月24日','1','','','','','','','','','','',''],
		['100018782','视袭时代（北京）文化传媒股份有限公司23层2301-2302','北京市朝阳区三里屯SOHOD2301/2302三里屯SOHOD座23层2301-2302','北京','2018年2月24日','1','','','','','','','','','','',''],
		['100110701','西北旺镇百旺绿谷汽车园F1地块1号北京百旺福瑞汽车销售服务有限公司','北京海淀区西北旺镇百旺绿谷汽车园F1地块1号','北京','2018年2月24日','1','','','','','','','','','','','']
	];




	// 百度地图API功能
	var map = new BMap.Map("allmap");
	var point = new BMap.Point(116.331398,39.897445);
	map.centerAndZoom(point,12);

	var top_left_control = new BMap.ScaleControl({anchor: BMAP_ANCHOR_TOP_LEFT});// 左上角，添加比例尺
	var top_left_navigation = new BMap.NavigationControl();  //左上角，添加默认缩放平移控件
	var top_right_navigation = new BMap.NavigationControl({anchor: BMAP_ANCHOR_TOP_RIGHT, type: BMAP_NAVIGATION_CONTROL_SMALL}); //右上角，仅包含平移和缩放按钮

	// 创建地址解析器实例
	var myGeo = new BMap.Geocoder();
	// 将地址解析结果显示在地图上,并调整地图视野
	var addAddressToMap = function(address, company) {
		myGeo.getPoint(address, function(point){
			if (point) {
				var marker = new BMap.Marker(point);
				map.addOverlay(marker);
				marker.setLabel(new BMap.Label(company +"<br>"+address,{offset:new BMap.Size(20,-10)}));
			}else{
				// alert("您选择地址没有解析到结果!");
			}
		}, "北京市");
	}

	map.centerAndZoom(point, 13);
	for(var i in addresses) {
		var address = addresses[i]
		console.log(address[2])
		addAddressToMap(address[2], address[1]);
	}
	
	//添加控件和比例尺
	function add_control(){
		map.addControl(top_left_control);        
		map.addControl(top_left_navigation);     
		map.addControl(top_right_navigation);    
	}
	add_control()
</script>
